@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --Red-400: hsl(0, 100%, 74%);
  --Green-400: hsl(154, 59%, 51%);
  --Green-dark: hsl(154, 57%, 42%);
  --Purple-700: hsl(248, 32%, 49%);
  --Gray-900: hsl(249, 10%, 26%);
  --Purple-350: hsl(246, 25%, 77%);
  --white: hsl(0, 100%, 100%);
  --black: hsla(0, 0%, 0%, 0.2);

  --spacing-s: 0.5rem;
  --spacing-m: 1rem;
  --spacing-l: 1.5rem;
  --spacing-xl: 2rem;
  --spacing-2xl: 2.5rem;
  --spacing-3xl: 3rem;
  --spacing-4xl: 3.5rem;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url("../images/bg-intro-mobile.png");
  background-color: var(--Red-400);
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.flex-container {
  display: flex;
}
footer {
  flex: 0 1 50px;
  padding-top: var(--spacing-l);
}
/***** Typography *****/

body,
button,
.offer-card-title {
  color: var(--white);
}

main {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
}
button,
input {
  font: inherit;
}
.offer-card-title,
button,
.terms-link {
  font-weight: 700;
}
input::placeholder,
input {
  font-weight: 600;
}
.article-detail {
  font-weight: 500;
}
.terms,
.terms-link {
  font-size: 0.75rem;
}
main a {
  text-decoration: none;
}
/****** main ******/
.main {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 2;
  padding: 0 var(--spacing-l);
}

/****** article ******/
.main-text {
  margin-bottom: var(--spacing-2xl);
  text-align: center;
}
.article-heading {
  font-size: 1.875rem;
  margin-bottom: var(--spacing-xl);
}
.article-detail {
  line-height: 1.6;
}

/****** offer-card ******/
.offer-card {
  background-color: var(--Purple-700);
  padding: var(--spacing-l);
  margin: var(--spacing-l) 0;
  text-align: center;
  border-radius: 8px;
  box-shadow: var(--black) 0 8px;
}

/****** form ******/
.form {
  background-color: var(--white);
  padding: var(--spacing-l);
  border-radius: 8px;
  box-shadow: var(--black) 0 8px;
  margin-bottom: var(--spacing-m);
}
input,
button {
  height: 50px;
  width: 100%;
  border-radius: 5px;
}
.form-group,
button {
  margin-bottom: var(--spacing-m);
}
input {
  color: var(--Gray-900);
  border: 1px solid var(--Purple-350);
  padding-left: var(--spacing-m);
}
input:focus {
  border: none;
  outline: 1px solid var(--Gray-900);
}
button {
  border: none;
  background-color: var(--Green-400);
  text-transform: uppercase;
  box-shadow: var(--Green-dark) 0 5px;
}

.terms {
  color: var(--Purple-350);
}
.terms-link {
  color: var(--Red-400);
  font-weight: 700;
}

/****** error ******/
.form-group {
  position: relative;
}
.error {
  text-align: end;
}
.error-icon {
  position: absolute;
  right: 1.5rem;
  top: 0.8rem;
  /* transform: translateY(-30%); */
}
.error-message {
  margin-top: var(--spacing-s);
  color: var(--Red-400);
  font-size: 0.675rem;
}

@media (min-width: 481px) {
  .main {
    max-width: 400px;
  }
}

@media (min-width: 768px) {
  .main {
    max-width: 450px;
  }
  .form {
    padding: var(--spacing-2xl);
  }
}

@media (min-width: 992px) {
  body {
    background-image: url("../images/bg-intro-desktop.png");
  }
  .main {
    max-width: 850px;
    flex-direction: row;
    justify-content: space-between;
  }
  .flex-item {
    flex: 0 0 350px;
  }
  .main-text {
    flex: 0 0 350px;
    text-align: left;
  }
  .article-heading {
    font-size: 3rem;
  }
}

@media (min-width: 1200px) {
  .main {
    max-width: 1000px;
    flex-direction: row;
    justify-content: center;
    gap: var(--spacing-3xl);
  }
  .flex-item {
    flex: 0 0 400px;
  }
  .main-text {
    flex: 0 0 400px;
  }
}
@media (min-width: 1400px) {
  .main {
    max-width: 1300px;
    flex-direction: row;
    gap: var(--spacing-4xl);
  }
  .flex-item {
    flex: 0 0 580px;
  }
  .main-text {
    flex: 0 0 550px;
  }
}
