@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.ttf");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Medium.ttf");
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-SemiBold.ttf");
  font-display: swap;
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Bold.ttf");
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}

:root {
  --Red-400: hsl(0, 100%, 74%);
  --Green-400: hsl(154, 59%, 51%);
  --Purple-700: hsl(248, 32%, 49%);
  --Gray-900: hsl(249, 10%, 26%);
  --Purple-350: hsl(246, 25%, 77%);
  --white: hsl(0, 100%, 100%);

  --spacing-s: 0.5rem;
  --spacing-m: 1rem;
  --spacing-l: 1.5rem;
  --spacing-xl: 2rem;
  --spacing-2xl: 2.5rem;
  --spacing-3xl: 3rem;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: url("../images/bg-intro-mobile.png");
  background-color: var(--Red-400);
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}
.flex-container {
  display: flex;
}
footer {
  flex: 0 1 50px;
}
/***** Typography *****/

body,
button {
  color: var(--white);
}

main {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
}
button,
input {
  font: inherit;
}
.offer-card-title,
button,
input::placeholder,
.terms-link {
  font-weight: 700;
}
.article-detail {
  font-weight: 500;
}
input::placeholder,
.terms {
  color: var(--Gray-900);
}
.terms,
.terms-link {
  font-size: 0.75rem;
}

/****** main ******/
.main {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 2;
  padding: 0 var(--spacing-l);
}

/****** article ******/
.main-text {
  margin-bottom: var(--spacing-2xl);
  text-align: center;
}
.article-heading {
  font-size: 1.875rem;
  margin-bottom: var(--spacing-xl);
}
.article-detail {
  line-height: 1.6;
}

/****** offer-card ******/
.offer-card {
  background-color: var(--Purple-700);
  padding: var(--spacing-l) var(--spacing-3xl);
  text-align: center;
  border-radius: 8px;
  margin: var(--spacing-l);
}
